
p{
  text-align: center;
  line-height: 25px;
  font-size: 50px;
}   
 a{
  text-decoration: none; 
}
ul li{
  text-decoration: none;
  list-style-type: none;
}
h1{
  font-family: ;
  text-align: center;
  font-size: 90px;
  font-style: helvetica;
  background-color: orange;
}
  html{
  font-size: 62,5%;
}

h1{
    color: white;
}
.bgColor{
    background-color: orange ;
}
.inicio{
    text-align: center;

}
.texto{
    text-align: center;
    font-size: 190px;
    font-style: helvetica;
}
.muestra {
    height: 800px; width: 800px;
    overflow: hidden;
}
.imgig{
    display: inline-block;
    float: left;
} 
.pie{
    font-size: 60px;
    text-align: center;
    background-color: f5f100;
    font-style: helvetica;
}
.rrss{
    display: inline-block;
    text-align: center;
    font-size: 100px;
}
@media only screem and (max-width: 600px)

.llegamos{
    font-size:40px; 
}